.hidden{
    display: none;
}

/* #region global tag styles */

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: #22343d;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

ul,ol{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* #endregion */

/* #region global styles for body */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 411px;
    margin: 0 auto;
    padding: 0 21px;
}

@media only screen and (min-width: 1150px) {
    .container {
        width: 1150px;
        padding: 0 20px;
    }
}

.logo {
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
}

@media only screen and (min-width: 1150px) {
    .logo {
        gap: 16px;
    }
}

.green-btn{
    border-radius: 4px;
    background: #02897a;
    border: none;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms ease-in;
}

.green-btn:focus,
.green-btn:hover{
    background-color: #03685c;
}

/* #endregion */

/* #region header styles */
.header{
    box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
}

.header-container{
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: auto;
}

.nav{
    display: none;
}

.header-btn-list{
    display: none;
}

@media only screen and (min-width: 1150px) {
   
    .nav {
        display: flex;
        align-items: center;
        margin-right: 24px;
    }
    
    .nav-list {
        display: flex;
        align-items: center;
        gap:30px;
    }
    
    .nav-link {
        display: block;
        line-height: 1.75;
        padding: 26px 0;
        position: relative;
    }
    
    .nav-link.current-link{
        font-weight: 600;
        line-height: 1.75;
    }
    
    .nav-link:not(.nav-link.current-link)::after{
        content: '';
        position: absolute;
        left:0;
        bottom: 20px;
        display: block;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        transform: scaleX(0);
        background-color: #02897a;
        transition: transform 250ms ease-in;
    }
    
    .nav-link:not(.nav-link.current):hover::after,
    .nav-link:not(.nav-link.current):focus::after{
        transform: scaleX(1);
    }
    
    .header-btn-list {
        display: flex;
        align-items: center;
        gap: 24px;
    }
    
    .btn-sign {
        display: block;
        border: 1px solid #bcd0e5;
        border-radius: 4px;
        min-width: 102px;
        height: 42px;
        padding: 8px 24px;
        background-color: transparent;
        font-weight: 600;
        text-align: center;
        color: #173a56;
        cursor: pointer;
        line-height: 1.75;
    }
    
    .btn-sign:hover,
    .btn-sign:focus{
        background-color: #02897a;
        border-color: transparent;
        color: #fff;
    }
}

.header-menu-btn{
    width: 28px;
    height: 31px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 1150px){
    .header-menu-btn{
    display: none;
    }
}

/* #endregion */

/* #region hero-section styles */
.hero-section{
    padding-top: 30px;
    padding-bottom: 100px;
}

@media only screen and (min-width: 1150px) {
    .hero-section{
        padding-top: 25px;
        padding-bottom: 100px;
    }
}

.hero-container {
    text-align: center;
}

@media only screen and (min-width: 1150px) {
    .hero-container {
        display: flex;
        align-items: center;
        text-align: start;
    }
}

.hero-content{
    text-align: center;
}

@media only screen and (min-width: 1150px) {
   .hero-content{
    margin-right: auto;
    text-align: start;
  }
}

.hero-title {
    font-size: 36px;
    margin-bottom: 16px;
}

.hero-text {
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 16px;
}

@media only screen and (min-width: 1150px) {
   
    .hero-title {
        width: 420px;
        font-size: 40px;
        line-height: 1.5;
        margin-bottom: 18px;
    }
    
    .hero-text {
        width: 465px;
        margin-bottom: 45px;
    }
}

.hero-btn-list {
    display: flex;
    align-items: center;
    gap:28px;
}

.btn-started {
    min-width: 142px;
    height: 53px;
    padding: 15px 24px;
}

.btn-watch {
    border: none;
    min-width: 165px;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    cursor:pointer;
    background-color: transparent;
    transition: color 250ms ease-in;
}

.btn-watch:focus,
.btn-watch:hover{
    color: #03685c;
}

@media only screen and (min-width: 1150px) {
    .hero-btn-list {
        gap:30px;
    }
    
    .btn-started {
        min-width: 178px;
        padding: 15px 42px;
    }
    
    .btn-watch {
        border: none;
        font-weight: 600;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #02897a;
        cursor:pointer;
        background-color: transparent;
        transition: color 250ms ease-in;
    }
    
   
}

@media only screen and (min-width: 1150px) {
   
    .hero-image{
        width: 610px;
        height: 555px;
        order: 2;
    }

}

/* #endregion */

/* #region benefits-section-styles */


.benefits-section {
    padding-top: 16px;
    padding-bottom: 38px;
}

@media only screen and (min-width: minwidthpx) {
    .benefits-section {
        padding-top:0px;
        padding-bottom: 100px;
    }
}

.benefits-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 50px;
    min-width: 331px;
}

.benefits-list {
    display: flex;
    gap:32px;
    flex-direction: column;
    margin-bottom: 37px;
    align-items: center;
}

.benefits-item {
   width: 240px;
   text-align: center;
}

@media only screen and (min-width: 1150px) {
    .benefits-list {
        gap:30px;
        flex-direction: row;
        margin-bottom: 50px;
    }
    
    .benefits-item {
       width: calc((100% - 30px * 3) / 4);
       text-align: start;
    }
}

.benefits-icon-container{
    display: block;
    border-radius: 19px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 24px;
}

@media only screen and (min-width: 1150px) {
    .benefits-icon-container{
        width: 54px;
        height: 54px;
        margin: 0;
        margin-bottom: 26px;
    }
}

.benefits-item:nth-child(1) .benefits-icon-container{
    background-color: #02897a;
}

.benefits-item:nth-child(2) .benefits-icon-container{
    background-color: #4d8dff;
}

.benefits-item:nth-child(3) .benefits-icon-container{
    background-color: #740a76;
}

.benefits-item:nth-child(4) .benefits-icon-container{
    background-color: #f03e3d;
}

.benefits-subtitle {
    margin-bottom: 8px;
}

.benefits-btn {
    display: block;
    min-width: 175px;
    height: 53px;
    padding: 14px 32px;
    margin: 0 auto;
}
/* #endregion */

/* #region services-section styles */
.services-section{
    padding-top: 100px;
    padding-bottom: 70px;
}

@media only screen and (min-width: 1150px) {
    .services-section{
        padding-top: 0px;
        padding-bottom: 150px;
    }
}

.services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.services-item:not(:last-child)
{
    margin-bottom: 100px;
}

@media only screen and (min-width: 1150px) {
    .services-item {
        flex-direction: row;
        gap: 0px;
        justify-content: space-between;
    }
    .services-item:nth-child(odd) .services-item-image{
        order: 2;
   }
}

@media only screen and (min-width: 1150px) {
    .services-content-container{
        width: 486px;
    }
}

.services-lead {
    font-weight: 600;
    margin-bottom: 8px;
}

.services-subtitle {
    font-size: 32px;
    margin-bottom: 16px;
}

.services-item-text {
    margin-bottom: 16px;
}

@media only screen and (min-width: 1150px) {
    .services-subtitle {
        margin-bottom: 25px;
    }
    .services-item-text {
        margin-bottom: 30px;
    }
}

.services-sublist-item:not(:last-child) {
    margin-bottom: 25px;
}

@media only screen and (min-width: 1150px) {
    .services-sublist-item:not(:last-child) {
        margin-bottom: 25px;
    }
}

.services-item:nth-child(2) .services-sublist-item{
    display: flex;
    align-items: center;
    gap: 30px;
}

.services-item:nth-child(2) .services-item-icon-container{
    border: 2.92px solid #fff;
    border-radius: 14px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.services-item:nth-child(2) .services-sublist-item:nth-child(1) .services-item-icon-container{
    background-color: #f90;
}

.services-item:nth-child(2) .services-sublist-item:nth-child(2) .services-item-icon-container{
    background-color:  #f03e3d;
}

.services-item:nth-child(2) .services-sublist-item:nth-child(3) .services-item-icon-container{
    background-color:  #4d8dff;
}

.services-sublist-title {
    font-weight: 600;
    margin-bottom: 12px;
}

/* #endregion */

/* #region expert-section styles */


.expert-section {
    padding-top: 70px;
    padding-bottom: 50px;
}

@media only screen and (min-width: 1150px) {
    .expert-section {
        padding-top: 0px;
        padding-bottom: 100px;
    }
}

.expert-title {
    text-align: center;
    font-size: 32px;
    color: #22343d;
    margin-bottom: 8px;
}

@media only screen and (min-width: 1150px) {
    .expert-title {
        margin-bottom: 25px;
    }
}

.expert-text{
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
}

.expert-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap:32px;
    margin-bottom: 32px;
}

@media only screen and (min-width: 1150px) {
    .expert-list {
        column-gap: 100px;
        row-gap:25px;
        margin-bottom: 50px;
        align-items: center;
    }
}

.expert-item {
    display: flex;
    align-items: center;
    gap: 14px;
}

.expert-item:nth-child(even)
{
    justify-items: flex-start;
}

.expert-item:nth-child(odd)
{
    justify-items: flex-end;
}

@media only screen and (min-width: 1150px) {
    .expert-item {
        gap: 20px;
        justify-items: inherit;
    }

    .expert-item:nth-child(3)
    {
        order:2;
    }

    
}

.expert-item-text{
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
    border-radius: 30px;
    padding: 8px 30px;
    text-align: center;
}

@media only screen and (min-width: 1150px) {
    .expert-item-text{
        padding: 12px 20px;
    }
}

.expert-btn {
    display: block;
    min-width: 216px;
    height: 53px;
    padding: 14px 30px;
    margin: 0 auto;
}

/* #endregion */

/* #region strategies-section styles */


.strategies-section {
    padding-top: 50px;
    padding-bottom: 30px;
}

@media only screen and (min-width: 1150px) {
    .strategies-section {
        padding-top: 0px;
        padding-bottom: 171px;
    }
}

.strategies-title {
    font-size: 34px;
    margin-bottom: 8px;
    text-align: center;
}

@media only screen and (min-width: 1150px) {
    .strategies-title {
        margin-bottom: 10px;
        text-align: start;
    }
}

.strategies-text{
    font-weight: 500;
    margin-bottom: 40px;
    text-align: center;
}

@media only screen and (min-width: 1150px) {
    .strategies-text{
        width: 465px;
        text-align: start;
    }
}

.strategies-list {
    display: flex;
    gap:16px;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 1150px) {
    .strategies-list {
        flex-direction: row;
        gap:30px;
    }
}

.strategies-item {
    border-radius: 8px;
    overflow: hidden;
    width: 348px;
}

@media only screen and (min-width: 1150px) {
   
    .strategies-item {
        width: calc((100% - 30px * 2) / 3 );
        border: 1px solid #dedede;
    }
  
}

.strategies-item-container{
    padding-top: 24px;
    padding-bottom: 40px;
}

@media only screen and (min-width: 1150px) {
    .strategies-item-container{
        padding-right: 24px;
        padding-left: 24px;
    }
}


.strategies-item-text{
    line-height: 1.75;
    margin-bottom: 12px;
}

.strategies-creater{
    font-weight: 700;
}

.strategies-subtitle {
    font-size: 24px;
    transition: color 250ms ease-in;
}

@media only screen and (min-width: 1150px) {
    .strategies-subtitle {
        margin: 0 auto;
    }
}

.strategies-subtitle:focus,
.strategies-subtitle:hover{
    color: #02897a;
}

/* #endregion */

/* #region price-section styles */

.price-section {
    padding-top: 30px;
    padding-bottom: 50px;
}

@media only screen and (min-width: 1150px) {
    .price-section {
        padding-top: 0px;
        padding-bottom: 100px;
    }
}

.price-title {
    font-size: 34px;
    margin-bottom: 8px;
    text-align: center;
}

@media only screen and (min-width: 1150px) {
    .price-title {
        margin-bottom: 10px;
    }
}

.price-text{
    font-weight: 500;
    margin-bottom: 72px;
    text-align: center;
}

@media only screen and (min-width: 1150px) {
    .price-text{
        font-weight: 500;
        margin-bottom: 40px;
        text-align: center;
    }
}

.price-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:32px;
}

@media only screen and (min-width: 1150px) {
    .price-list {
        display: flex;
        flex-direction: row;
        gap:72px;
    }
}

.price-item {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    width: 322px;
    border-radius: 8px;
    text-align: center;
    padding: 32px;
    padding-top: 24px;
    font-family: "Montserrat", sans-serif;
    transition: transform 250ms ease-in;
}

@media only screen and (min-width: 1150px) {
   .price-item{
        padding-top: 32px;
        width: calc((100% - 72px * 2) / 3 );
  }
}

.price-item:nth-child(2) {
    background: #02897a;
    color: #fff;
}

 

.price-subtitle {
    font-size: 24px;
    margin-bottom: 8px;
    font-family: "Poppins", sans-serif;
}

.price-item-text{
    line-height: 2.5;
    margin-bottom: 16px;
}

.price-cost-container {
    display: flex;
    gap:7px;
    align-items: center;
    margin: 0 auto;
    margin-bottom:16px ;
    justify-content: center;
    color: #02897a;
}

.price-item:nth-child(2) .price-cost-container {
    color: #fff;
}

.price-cost {
    font-weight: 700;
    font-size: 76px;
    line-height: 1.31579;
    letter-spacing: 0em;
    text-align: center;
}

.price-cost-details-container {
    text-align: start;
}


.price-cost-currency {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    margin-bottom: 4px;
}

.price-cost-term {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.01em;
    color: #afafaf;
}

.price-item:nth-child(2) .price-cost-term{
    color: #e0e0e0;
}

.price-advantages-list {
    margin-bottom: 30px;
}

.price-advantages-item {
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: 0.01em;
}

.price-advantages-item:not(:last-child){
    margin-bottom: 16px;
}

.price-btn {
    border-radius: 8px;
    padding: 11px 18px;
    border: none;
    min-width: 139px;
    background: #02897a;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.price-item:nth-child(2) .price-btn{
    background: #fff;
    color: #02897a;
}

.price-item:has(.price-btn:focus),
.price-item:has(.price-btn:hover){
    transform: scale(110%);
}

/* #endregion */




